WebServiceConsole/Connected Services/ServiceWebFX/WebServiceFX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="Fibonacci">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibonacciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FibonacciResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlToJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlToJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlToJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FibonacciSoapIn">
    <wsdl:part name="parameters" element="tns:Fibonacci" />
  </wsdl:message>
  <wsdl:message name="FibonacciSoapOut">
    <wsdl:part name="parameters" element="tns:FibonacciResponse" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonSoapIn">
    <wsdl:part name="parameters" element="tns:XmlToJson" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonSoapOut">
    <wsdl:part name="parameters" element="tns:XmlToJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceFXSoap">
    <wsdl:operation name="Fibonacci">
      <wsdl:input message="tns:FibonacciSoapIn" />
      <wsdl:output message="tns:FibonacciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <wsdl:input message="tns:XmlToJsonSoapIn" />
      <wsdl:output message="tns:XmlToJsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceFXSoap" type="tns:WebServiceFXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fibonacci">
      <soap:operation soapAction="http://localhost/Fibonacci" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <soap:operation soapAction="http://localhost/XmlToJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceFXSoap12" type="tns:WebServiceFXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fibonacci">
      <soap12:operation soapAction="http://localhost/Fibonacci" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <soap12:operation soapAction="http://localhost/XmlToJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceFX">
    <wsdl:port name="WebServiceFXSoap" binding="tns:WebServiceFXSoap">
      <soap:address location="http://localhost:17113/WebServiceFX.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceFXSoap12" binding="tns:WebServiceFXSoap12">
      <soap12:address location="http://localhost:17113/WebServiceFX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>